<div class="card">
  <div class="card-header">
    List of Product Page
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="filterData" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">Filtered by {{ filterData }}</div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              <button type="button" class="btn btn-primary">
                Product Image
              </button>
            </th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Available</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody *ngIf="productList.length > 0">
          <tr
            *ngFor="let product of productList | product: filterData"
            (click)="open(product)"
            [routerLink]="['/product', product.code]"
          >
            <th>
              {{ product.imageUrl }}
            </th>
            <th>{{ product.code }}</th>
            <th>{{ product.name | uppercase | productName: " " }}</th>
            <th>{{ product.price.toFixed(2) }}</th>
            <th *ngIf="product.available">Yes</th>
            <th *ngIf="product.available == false">No</th>
            <th>
              <app-rating
                [rating]="product.rating"
                (ratingClicked)="onRatingClicked($event)"
              ></app-rating>
            </th>
          </tr>
        </tbody>
        <tbody *ngIf="productList.length == 0">
          <tr>
            <th>
              No Products Available
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-product-detail [products]="productList"></app-product-detail>
